
.navbar1{
z-index: 1;
box-shadow: 0px -3px 13px 0px ;
position: sticky!important;
top: 0;
}
.navlink a {
    font-style: italic;
    font-size: 20px;
    margin-right: 40px;
    text-decoration: none;
    position: sticky!important;
    border-radius: 7px;
    font-weight: 600;
   

    
}
/* .navlink a{
    padding: 0px 10px;
} */
.navbar-image{
    width: 1000px;
    height: 600px;
    margin: 40px 0px 0px 10px;
    padding: 40px 2px 20px 400px;
    object-fit: cover;
    position: relative;
    display: block;
    align-items: center !important;
    background-size: cover;
    background-position: 50% 50% ;
    background-repeat: no-repeat;
}
.navbar-title{
    border: px white solid;
    width: 500px;
    height: 200px;
    border-radius: 10px;
    font-size: 60px;
    margin: -90px 0px 0px 188px;
    background-color: #e86e42;
    font-family: 'Playfair Display', serif !important;
    position: relative;
    color:white;
    position: absolute;
   /* bottom: 25px;
    left: 60px; */
    
}
.pargrap{
align-items: center;
font-family: 'Open Sans',sans-serif;
margin-top: 150px;
text-align: center;

}
.btn-title1{
    align-items: center;
    margin-top: 100px;
    margin: 20px 0px 0px 500px;
    border-radius: 5px;
    
    
}

.col1{
    font-family: 'Open Sans',sans-serif;
    margin: 200px 1px 30px 16px;
    font-size: 20px;
    
    line-height: 1.6;
}
.man-title{
    color: #e86e42;
    margin:  -400px 90px 0px 400px;
}
    .home-image1{
       
         width: 500px;
         height: 500px;
         margin: 2px 10px 40px 20px;
         padding: 130px 0px 0px 30px;
         bottom: 0px;
         left: 0px;
    } 
     .home-image2{
       
        width: 440px;
        height: 350px;
        margin: -30px 40px 40px 700px;
        border: 5px solid #e86e42;
        
        
   } 
    .col2{
        font-family: 'Open Sans',sans-serif;
        margin: 200px 40px 0px -60px;
        font-size: 20px;
       
    
    
        }
         .mod-image{
            width:400px;
            height: 400px;
            /* margin-top: 100px; */
         }
         .mod-par{
            width:300px;
            height:250px;
            font-family: 'Open Sans',sans-serif;
            box-sizing: border-box;
            /* justify-content: center; */
            /* background-color: black; */
            color: white;
            font-style: italic;
            display: flex;
            flex-direction: column;
            padding: 40px 20px;
            font-size: 1.125rem;
            margin: 0px 10px 5px 40px;
            word-wrap: break-word;
             position: relative;
         }
         .mod-par1{
           
            font-family: 'Open Sans',sans-serif;
            box-sizing: border-box;
            padding: 60px 40px; 
            justify-content: center;
            /* background-color: black; */
            color: white;
            font-style: italic;
            font-size: 1.125rem;
             margin: 0px 10px 5px 40px;
            word-wrap: break-word;
             position: relative;
             
            }

         .mod-image1{
            width: 430px;
            height: 460px;



         }
         .btn{
            justify-content: center;
            border: 1px #e86e42 solid;
            color:white;
            background-color: #e86e42;
            border-radius: 5PX;
            margin: 20PX 2PX 20PX 20PX;
         }